openapi: 3.2.0
info:
  title: Usercentrics Consent API
  version: '1.0'
  description: 'Operations tagged Consent across 3 of this provider''s published API definitions: usercentrics-app-cmp-sdk-openapi.yml, usercentrics-cookiebot-cmp-openapi.yml, usercentrics-web-cmp-v3-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: sdk://usercentrics.app
  description: In-process App CMP SDK (logical URL).
- url: https://consent.cookiebot.com
  description: Cookiebot consent delivery CDN.
- url: https://app.usercentrics.eu
  description: Usercentrics CDN/control plane (EU).
tags:
- name: Consent
paths:
  /cmp-data:
    get:
      tags:
      - Consent
      summary: Get CMP Data
      description: Retrieve the active CMP configuration including service list, categories, and copy.
      operationId: getCmpData
      responses:
        '200':
          description: Active CMP configuration returned.
    servers:
    - url: sdk://usercentrics.app
      description: In-process App CMP SDK (logical URL).
  /consents:
    get:
      tags:
      - Consent
      summary: Get Consents
      description: Return the current per-service consent state stored on device.
      operationId: getConsents
      responses:
        '200':
          description: Per-service consent state returned.
    servers:
    - url: sdk://usercentrics.app
      description: In-process App CMP SDK (logical URL).
  /consent/withdraw:
    post:
      tags:
      - Consent
      summary: Withdraw Consent
      description: Withdraw all consent for the current user (Cookiebot.withdraw()).
      operationId: cookiebotWithdraw
      responses:
        '200':
          description: Consent withdrawn.
    servers:
    - url: https://consent.cookiebot.com
      description: Cookiebot consent delivery CDN.
  /consent/submit-custom:
    post:
      tags:
      - Consent
      summary: Submit Custom Consent
      description: Submit a custom consent decision (Cookiebot.submitCustomConsent).
      operationId: cookiebotSubmitCustomConsent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                preferences:
                  type: boolean
                statistics:
                  type: boolean
                marketing:
                  type: boolean
      responses:
        '200':
          description: Custom consent submitted.
    servers:
    - url: https://consent.cookiebot.com
      description: Cookiebot consent delivery CDN.
  /consent/state:
    get:
      tags:
      - Consent
      summary: Get Consent State
      description: Read Cookiebot.consent (necessary, preferences, statistics, marketing) flags.
      operationId: cookiebotGetConsent
      responses:
        '200':
          description: Consent flags returned.
    servers:
    - url: https://consent.cookiebot.com
      description: Cookiebot consent delivery CDN.
  /scripts/get:
    get:
      tags:
      - Consent
      summary: Get Script
      description: Retrieve a script blocked by Cookiebot pending consent (Cookiebot.getScript).
      operationId: cookiebotGetScript
      responses:
        '200':
          description: Script retrieved.
    servers:
    - url: https://consent.cookiebot.com
      description: Cookiebot consent delivery CDN.
  /scripts/run:
    post:
      tags:
      - Consent
      summary: Run Scripts
      description: Execute scripts that have been gated on consent (Cookiebot.runScripts).
      operationId: cookiebotRunScripts
      responses:
        '200':
          description: Scripts executed.
    servers:
    - url: https://consent.cookiebot.com
      description: Cookiebot consent delivery CDN.
  /ui/accept-all:
    post:
      tags:
      - Consent
      summary: Accept All Services
      description: Grant consent for every configured service (UC_UI.acceptAllConsents).
      operationId: uiAcceptAll
      responses:
        '200':
          description: All consents granted.
    servers:
    - url: https://app.usercentrics.eu
      description: Usercentrics CDN/control plane (EU).
  /ui/deny-all:
    post:
      tags:
      - Consent
      summary: Deny All Services
      description: Deny consent for every configured service (UC_UI.denyAllConsents).
      operationId: uiDenyAll
      responses:
        '200':
          description: All consents denied.
    servers:
    - url: https://app.usercentrics.eu
      description: Usercentrics CDN/control plane (EU).
  /ui/update-services:
    post:
      tags:
      - Consent
      summary: Update Service Consents
      description: Update consent state for a specific list of services (UC_UI.updateServices).
      operationId: uiUpdateServices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                services:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      consent:
                        type: boolean
      responses:
        '200':
          description: Consent updated.
    servers:
    - url: https://app.usercentrics.eu
      description: Usercentrics CDN/control plane (EU).
  /ui/services-base-info:
    get:
      tags:
      - Consent
      summary: Get Services Base Info
      description: Return the configured services with current consent state.
      operationId: uiGetServicesBaseInfo
      responses:
        '200':
          description: Service list returned.
    servers:
    - url: https://app.usercentrics.eu
      description: Usercentrics CDN/control plane (EU).
x-refined-from:
- usercentrics-app-cmp-sdk-openapi.yml
- usercentrics-cookiebot-cmp-openapi.yml
- usercentrics-web-cmp-v3-openapi.yml
