openapi: 3.2.0
info:
  title: Usercentrics TCF API
  version: '1.0'
  description: 'Operations tagged TCF across 2 of this provider''s published API definitions: usercentrics-app-cmp-sdk-openapi.yml, usercentrics-web-cmp-v3-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: sdk://usercentrics.app
  description: In-process App CMP SDK (logical URL).
- url: https://app.usercentrics.eu
  description: Usercentrics CDN/control plane (EU).
tags:
- name: TCF
paths:
  /tcf-data:
    get:
      tags:
      - TCF
      summary: Get TCF Data
      description: Return the IAB TCF 2.3 string and per-purpose/per-vendor consent state.
      operationId: getTcfData
      responses:
        '200':
          description: TCF data returned.
    servers:
    - url: sdk://usercentrics.app
      description: In-process App CMP SDK (logical URL).
  /tcf/get-tc-data:
    post:
      tags:
      - TCF
      summary: Get TC Data
      description: Invoke __tcfapi("getTCData", 2, callback) to retrieve the IAB TCF 2.3 consent payload.
      operationId: tcfGetTCData
      responses:
        '200':
          description: TCData returned.
    servers:
    - url: https://app.usercentrics.eu
      description: Usercentrics CDN/control plane (EU).
  /tcf/add-event-listener:
    post:
      tags:
      - TCF
      summary: Add TCF Event Listener
      description: Register a TCF event listener via __tcfapi("addEventListener").
      operationId: tcfAddEventListener
      responses:
        '200':
          description: Listener registered.
    servers:
    - url: https://app.usercentrics.eu
      description: Usercentrics CDN/control plane (EU).
x-refined-from:
- usercentrics-app-cmp-sdk-openapi.yml
- usercentrics-web-cmp-v3-openapi.yml
