openapi: 3.2.0
info:
  title: Usercentrics Web CMP V3 Consent Mode API
  description: 'Browser-side JavaScript surface of the Usercentrics Web CMP V3 modeled as logical HTTP

    operations. Covers the UC_UI control API, IAB TCF 2.3 __tcfapi, IAB GPP __gpp, and Google

    Consent Mode v2 signals delivered through the Usercentrics CDN script.


    Reference: https://docs.usercentrics.com/cmp_v3/latest/

    '
  version: 3.0.0
  contact:
    name: Usercentrics Documentation
    url: https://docs.usercentrics.com/cmp_v3/latest/
servers:
- url: https://app.usercentrics.eu
  description: Usercentrics CDN/control plane (EU).
tags:
- name: Consent Mode
paths:
  /consent-mode/update:
    post:
      tags:
      - Consent Mode
      summary: Update Google Consent Mode
      description: Update Google Consent Mode v2 signals (ad_storage, analytics_storage, ad_user_data, ad_personalization) based on current consent state.
      operationId: consentModeUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ad_storage:
                  type: string
                  enum:
                  - granted
                  - denied
                analytics_storage:
                  type: string
                  enum:
                  - granted
                  - denied
                ad_user_data:
                  type: string
                  enum:
                  - granted
                  - denied
                ad_personalization:
                  type: string
                  enum:
                  - granted
                  - denied
      responses:
        '200':
          description: Consent Mode signals updated.
